In [1]:
import pandas as pd

In [16]:
pd.__version__

'2.2.2'

In [2]:
lst = [1,2,3,4,5,6]
series =pd.Series(lst)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
a = pd.Series(['a','b','c'], index = [1,2,3])
a

1    a
2    b
3    c
dtype: object

In [4]:
a = pd.Series(['a','b','c'], index = [1,2,3] , name = "Alphbets")
a

1    a
2    b
3    c
Name: Alphbets, dtype: object

In [5]:
dict_series = pd.Series({'a':1,'b':2,'c':3,'d':4,'e':5})
dict_series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
dict_series[:-1]

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
max(dict_series)

5

In [18]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [19]:
df = pd.DataFrame(lst)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [21]:
lst = [[1,2,3,4,5,6],[7,8,9,1,2,3]]
df = pd.DataFrame(lst)
df

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  7  8  9  1  2  3

In [28]:
dict=[{'a':1,'b':2,'c':3,'d':4,'e':5},{'a':1,'b':2,'c':3,'d':4,'e':5}]
df = pd.DataFrame(dict)
df

   a  b  c  d  e
0  1  2  3  4  5
1  1  2  3  4  5

In [6]:
df = pd.DataFrame(
    {
        "Name":["Abdul","Samad","Chandio"],
        "Age":[20,22,24],
        "Sex":["Male","Male","Female"]
    }
)

df

      Name  Age     Sex
0    Abdul   20    Male
1    Samad   22    Male
2  Chandio   24  Female