In [1]:
import pandas as pd

In [16]:
pd.__version__

'2.2.2'

In [2]:
lst = [1,2,3,4,5,6]
series =pd.Series(lst)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
a = pd.Series(['a','b','c'], index = [1,2,3])
a

1    a
2    b
3    c
dtype: object

In [4]:
a = pd.Series(['a','b','c'], index = [1,2,3] , name = "Alphbets")
a

1    a
2    b
3    c
Name: Alphbets, dtype: object

In [5]:
dict_series = pd.Series({'a':1,'b':2,'c':3,'d':4,'e':5})
dict_series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
dict_series[:-1]

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
max(dict_series)

5

In [18]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [19]:
df = pd.DataFrame(lst)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [21]:
lst = [[1,2,3,4,5,6],[7,8,9,1,2,3]]
df = pd.DataFrame(lst)
df

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  7  8  9  1  2  3

In [28]:
dict=[{'a':1,'b':2,'c':3,'d':4,'e':5},{'a':1,'b':2,'c':3,'d':4,'e':5}]
df = pd.DataFrame(dict)
df

   a  b  c  d  e
0  1  2  3  4  5
1  1  2  3  4  5

In [31]:
df = pd.DataFrame(
    {
        "Name":["Abdul","Samad","Chandio"],
        "Age":[20,22,24],
        "Sex":["Male","Male","Female"]
    }
)

df

      Name  Age     Sex
0    Abdul   20    Male
1    Samad   22    Male
2  Chandio   24  Female

In [33]:
df["Age"]

0    20
1    22
2    24
Name: Age, dtype: int64

In [34]:
df["Name"]

0      Abdul
1      Samad
2    Chandio
Name: Name, dtype: object

In [37]:
df = pd.read_csv(r'C:\Users\abdul.samad\Desktop\AI\Sessional Marks.csv')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,ID,Name,NaN,NaN,NaN,Assignment,NaN,Lab,class,Project,Sess,Final,Mid,Total
1,SP24-BSCS-0001,MUHAMMAD NABEEL ALI,NaN,NaN,NaN,9.5,NaN,10,4,13,36.5,36,18,90.5
2,SP24-BSCS-0002,MUHAMMAD FAHEEM MAREDIA,NaN,NaN,NaN,0,NaN,0,0,0,0,0,0,0
3,SP24-BSCS-0003,HAFIZ MUHAMMAD HAMMAD,NaN,NaN,NaN,0,NaN,0,0,0,0,0,0,0
4,SP24-BSCS-0004,USAMA AMIR,NaN,NaN,NaN,0,NaN,0,4,10,14,27,14.5,55.5
5,SP24-BSCS-0005,KASHAN AHMED SIDDIQUI,NaN,NaN,NaN,6,NaN,8,4,13,31,20,19,70
6,SP24-BSCS-0006,FAISAL MUKHTAR,NaN,NaN,NaN,9.5,NaN,9,4,12,34.5,22,11,67.5
7,SP24-BSCS-0007,MUHAMMAD SAIF UR REHMAN,NaN,NaN,NaN,10,NaN,10,5,13,38,26,18,82
8,SP24-BSCS-0008,WANIA,NaN,NaN,NaN,10,NaN,10,4,13,37,31,18,86
9,SP24-BSCS-0009,SYED ISHFAQUE ALI SHAH,NaN,NaN,NaN,10,NaN,8,5,12,35,18,11,64
10,SP24-BSCS-0010,ZEHRA SHARJEEL AHMED QAZI,NaN,NaN,NaN,5,NaN,4,4,10,23,18,11,52
11,SP24-BSCS-0011,LAIBA ZAREEN,NaN,NaN,NaN,10,NaN,10,5,13,38,33,18,89
12,SP24-BSCS-0012,ARVIND KUMAR,NaN,NaN,NaN,9,NaN,10,5,15,39,28,15,82
13,SP24-BSCS-0013,ANZAR SARMAD,NaN,NaN,NaN,8.5,NaN,10,4.5,13,36,20,15,71
14,SP24-BSCS-0014,JAHANGEER ALI,NaN,NaN,NaN,10,NaN,10,4,13,37,16,11.5,64.5
15,SP24-BSCS-0015,ALI ASGHER,NaN,NaN,NaN,0,NaN,10,5,12,27,25,10.5,62.5
16,SP24-BSCS-0016,HUZAIFA,NaN,NaN,NaN,0,NaN,6,3.5,15,24.5,30,20,74.5
17,SP24-BSCS-0017,HUSSAIN RAZA BHELLAR,NaN,NaN,NaN,0,NaN,5,0,13,18,15,6,39
18,SP24-BSCS-0018,DANISH KUMAR,NaN,NaN,NaN,0,NaN,0,0,NaN,0,0,10,10
19,SP24-BSCS-0019,AMMAR ASIM,NaN,NaN,NaN,8.5,NaN,5,4,13,30.5,23,17,70.5
20,SP24-BSCS-0020,MUNEET KUMAR,NaN,NaN,NaN,10,NaN,10,4,13,37,17,8,62
21,SP24-BSCS-0021,IMTIAZ ALI,NaN,NaN,NaN,0,NaN,0,3.5,NaN,3.5,21,14.5,39
22,SP24-BSCS-0022,ABDUL HADI KHAN,NaN,NaN,NaN,6,NaN,8,3.5,10,27.5,23,11,61.5
23,SP24-BSCS-0023,ABDUL BASIT,NaN,NaN,NaN,6,NaN,8,3.5,13,30.5,20,12,62.5
24,SP24-BSCS-0024,PREM SINGH,NaN,NaN,NaN,0,NaN,0,0,NaN,0,0,0,0
25,SP24-BSCS-0025,TANVEER,NaN,NaN,NaN,8,NaN,8,4,13,33,20,11,64
26,SP24-BSCS-0026,SYED ZAIGHAM HUSSAIN SHAH,NaN,NaN,NaN,10,NaN,10,4,14,38,36,18.5,92.5
27,SP24-BSCS-0027,HASSAN EJAZ,NaN,NaN,NaN,7.5,NaN,10,4,13,34.5,31,17.5,83
28,SP24-BSCS-0028,MUHAMMAD ABDULLAH BIN AMIR,NaN,NaN,NaN,7,NaN,10,4,10,31,28,15.5,74.5
29,SP24-BSCS-0029,MUHAMMAD HAMZA SHAHID,NaN,NaN,NaN,0,NaN,0,0,0,0,0,0,0
30,SP24-BSCS-0030,ARHAM ALI,NaN,NaN,NaN,9,NaN,8,5,12,34,25,15,74
31,SP24-BSCS-0032,KHAWAJA ABDUL MOIZ,NaN,NaN,NaN,8,NaN,10,5,14,37,28,17.5,82.5
32,SP24-BSCS-0033,ABDUL HASEEB,NaN,NaN,NaN,0,NaN,0,0,0,0,0,0,0
33,SP24-BSCS-0035,VIJESH KUMAR,NaN,NaN,NaN,10,NaN,8,4,10,32,20,14.5,66.5
34,SP24-BSCS-0036,ALISHBA MARYAM,NaN,NaN,NaN,6,NaN,5,3.5,12,26.5,19,11,56.5
35,SP24-BSCS-0037,MUHAMMAD TALHA ARAIN,NaN,NaN,NaN,0,NaN,8,3.5,13,24.5,20,15.5,60
36,SP24-BSCS-0038,MUHAMMAD ALI,NaN,NaN,NaN,7,NaN,10,4,13,34,21,16.5,71.5
37,SP24-BSCS-0039,HASSAN AHMED SIDDIQUI,NaN,NaN,NaN,7.5,NaN,10,4,14,35.5,23,14.5,73
38,SP24-BSCS-0040,SYEDA HAFSA,NaN,NaN,NaN,9.5,NaN,10,4,10,33.5,20,15.5,69
39,SP24-BSCS-0041,MUHAMMAD HAMZA AMIR,NaN,NaN,NaN,6,NaN,5,4,10,25,21,8,54
40,SP24-BSCS-0042,DISHA,NaN,NaN,NaN,10,NaN,8,3,13,34,20,12,66
41,SP24-BSCS-0043,JAI KUMAR,NaN,NaN,NaN,7,NaN,6,4,13,30,19,12,61
42,SP24-BSCS-0044,FARAZ AHMED,NaN,NaN,NaN,10,NaN,10,5,13,38,30,20,88
43,SP24-BSCS-0045,UMAIMA,NaN,NaN,NaN,9,NaN,10,3.5,13,35.5,20,12.5,68
44,SP24-BSCS-0046,AROONA,NaN,NaN,NaN,9,NaN,9,3.5,13,34.5,20,12.5,67
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df.shape

(46, 14)

In [40]:
df.size

644

In [41]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,ID,Name,NaN,NaN,NaN,Assignment,NaN,Lab,class,Project,Sess,Final,Mid,Total
1,SP24-BSCS-0001,MUHAMMAD NABEEL ALI,NaN,NaN,NaN,9.5,NaN,10,4,13,36.5,36,18,90.5
2,SP24-BSCS-0002,MUHAMMAD FAHEEM MAREDIA,NaN,NaN,NaN,0,NaN,0,0,0,0,0,0,0
3,SP24-BSCS-0003,HAFIZ MUHAMMAD HAMMAD,NaN,NaN,NaN,0,NaN,0,0,0,0,0,0,0
4,SP24-BSCS-0004,USAMA AMIR,NaN,NaN,NaN,0,NaN,0,4,10,14,27,14.5,55.5